<p>Dear {{name}} ,</p>
<p>You have been invited by {{tenant}} with login information below</p>
<p>Email: {{email}}</p>
<p>Password: {{password}}</p>
<p>Please click below to confirm your email</p>
<p>
    <a href="{{ url }}">Confirm</a>
</p>

<p>If you did not request this email you can safely ignore it.</p>
